<h4>Projects</h4>
  <% @projects.each do |project| %>
      <%= image_tag(project.image.thumb.url, :alt => "Picture", :width => '100', :height =>'100') %>
      <%= project.name %>
      <%= project.description %>
    </br>
  <% end %>
